{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Tu encabezado común aquí -->
        <h1>Mi Aplicación</h1>
        <nav>
            <ul>
                <!--<li><a href="{% url 'inicio' %}">Inicio</a></li>-->
                <!-- Agrega más enlaces de navegación según sea necesario -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Tu pie de página común aquí -->
        <p>&copy; 2023 Mi Aplicación</p>
    </footer>
</body>
</html>
