{% extends 'core/base.html' %}

{% block title %}Ingresar Objetivo o Descripción{% endblock %}

{% block content %}
    <h2>Ingresar Objetivo o Descripción</h2>

    <form method="post">
        {% csrf_token %}
        <div>
            <p>Ingrese los objetivos o descripción del proyecto:</p>
            <textarea name="objetivos_descripcion" rows="4" cols="50" placeholder="Ingrese aquí..."></textarea>
        </div>

        <div>
            <button type="submit">Guardar</button>
        </div>
    </form>
{% endblock %}