{% extends 'core/base.html' %}

{% block title %}Iniciar Sesión - Mi Aplicación{% endblock %}

{% block content %}
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'inicio_sesion' %}">
        {% csrf_token %}
        <label for="id_username">Nombre de Usuario:</label>
        <input type="text" name="username" id="id_username" required>
        <br>
        <label for="id_password">Contraseña:</label>
        <input type="password" name="password" id="id_password" required>
        <br>
        <input type="submit" value="Iniciar Sesión">
    </form>
    <br>
    <a href="{% url 'registro' %}">¿No tienes una cuenta? Regístrate aquí</a>
{% endblock %}
